<div>
  <strong>Username:</strong>
  <%= comment.username %>
</div>

<div>
  <strong>Comment:</strong>
  <%= comment.comment_body %>
</div>
<div>
  <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>
<br>