<div>
  <strong>User:</strong>
  <%= comment.username %>
</div>

<div>
  <strong>  <!-- %= comment.created_at.strftime("%B %d, %Y") %>: -->
  </strong>
  <%= comment.comment_body %>
</div>
<div>
  <%= link_to 'Remove Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, :class=>"link-b" %>
</div>
<br>