<section>
  <div class="about-us">
    <img class="andy-bio" src="http://pucktimes.com/imgs/profile-andy-puck-times.png" alt="andy pic" />
    <h2> About Andrew - Lead Writer </h2>
    <h3>  Andrew is from Santa Clara and has followed the San Jose Sharks more or less since the day he was born, which just so happened to be the Sharks inaugural season in 1991. He graduated with his BA in Broadcast Electronic Communication Arts in 2013 from San Francisco State University, and has written for a variety of online publications including The Hockey Writers, Inside Hockey, Bleach Report, and Pro Football Spot. He has been credentialed to cover the Sharks since 2010 and the 49ers since 2012, and now lives in Campbell, CA.
    <br>
    <br>
    <br>
    </h3>
    <img class="brian-bio" src="http://pucktimes.com/imgs/profile-DBC.jpeg" alt="brian pic" />
    <h2> About Brian - Website Ninja </h2>
    <h3>  Brian also hails from Santa Clara, CA and has lived in San Francisco for the last 6 years since graduating college from Dartmouth in 2009. After working for 5+ years in digital marketing as an Analytical Lead and Growth Analyst at Google and Metromile, he decided he could no longer ignore the entrepreneurial itch that is so contagious in San Francisco, and abandoned his daily routine of analyzing and optimizing Adwords campaigns to embark on a 4-month coding bootcamp called Dev Bootcamp. This website is being built and managed in large part as a practical learning exercise while Brian explores the many facets of web development.
    </h3>
  </div>
</section
