// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .main {
  width:100%;
  max-width: 1200px;
  text-align: center;
  margin: auto;
  }
  .video {
    width:30em;
    height:20em;
      }
  .iframe {
    width: 100%;
    height: 2000px;
  }
  .img {
    width:80%;
    max-width: 500px;
  }
  h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
  }
  h2 {
    font-family: Arial, sans-serif;
    font-size: 1.6em;
  }
  h3, h4, ul li {
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
  }
  header {
    width:100%;
    max-width: 1200px;
    background-color: #036d80;
    margin: auto;
  }
  header img{
    width:100%;
    max-width: 1000px;
    margin: auto;
  }
  .navbar {
    background-color: #036d80;
    width:100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: .5em;
  }
  .navbar ul {
    text-align: center;
  }
  .navbar li {
      display: inline;
      font-size: 1em;
      text-align: center;
      padding-right: .5em;
  }
  .navbar a {
    color: white;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
  }
  .navbar a:hover {
    color: #f28f20;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
  }
  .main-hero {
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  .main-body {
    text-align: normal;
    position: relative;
    margin: auto;
    max-width: 1000px;
    width:100%;
  }

  .newsbrief {
    margin: auto;
    position: relative;
    width: 800px;
    max-width:100%;
    font-family: Arial, sans-serif;
    font-size:1.4em;
  }
  .recent-list article {
    margin: auto;
    width:100%;
    max-width:1000px;
  }
  .recent-list article img {
    width:400px;
    max-width: 50%;
    padding: 1em;
  }
  h1 {
    margin: auto;
    text-align: center;
    font-size: 2em;
  }
  h5 {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
  }

/* For mobile phones: */
.gridlist-mobile-12 {
  width: 100%;
}
/* For desktop: */
@media only screen and (min-width: 800px) {
    .gridlist-desktop-6 {width: 46%;
      padding-left: 2%;
      padding-right: 2%;
      float:left;}
  }
/* traditional "coffee" grid list setup: */
@media only screen and (min-width: 800px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.fl-l {float:left;}
.fl-r {float:right;}
.cl-b {clear:both;}
.m-a {margin:auto;}
  .invisible{visibility: hidden;}
  .edit-label{
    font-size: 1.5em;
    font-style: bold;
  }
  .cta-center {
    float:center;
  }
  .thumbnail-photo {
    float:right;
    width: 100%
  }
  .widgets-td {
    position: relative;
    border: 0px white;
    margin: auto;
    width: 50%;
    padding: 20px;
    vertical-align: top
    }
  table.widgets {
    margin: auto;
    border: 0px white;
    width: 90%;
    text-align: left;
    vertical-align: bottom;
    padding: 5px;
  }

  #blank-space{
    height: 300px;
  }
  #blank-space-small{
    height:50px;
  }
  .about-us {
    margin: auto;
    width:100%;
    max-width:1000px;
  }
  .brian-bio {
    float:right;
    width: 250px;
    max-width: 50%;
    padding: 20px;
  }
  .andy-bio {
    float:left;
    width: 250px;
    max-width: 50%;
    padding: 20px;
  }

 html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -5em; /* the bottom margin is the negative value of the footer's height */
}
.push {
  height:150px;
}
footer {
   /*height: 5em; */
   /* .push must (SHOULD) be the same height as .footer */
   position:relative;
   clear:both;
   background-color:#036d80;
   text-align: center;
   left:0px;
   bottom:0px;
   width:100%;
}
   footer p {
     color:white ;
     font-size: .8em;
  }
  footer ul {
    padding-top: 1em;
  }
  footer ul li {
      text-align: center;
      display: inline;
      font-size: 1em;
      padding-right: .5em;
      padding-top: .5em;
      margin: auto;
      color: #036d80;
    }

  footer img {
    height:1em;
  }
  footer a {
    color: #f28f20;
    font-size: 1em;
  }
  footer a:hover {
    color: white;
  }
  .btn-social {
    text-align: center;
  }
  .btn-social img {
    width: 200px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
  }
.new-article-form {
  font-size: 1em;
  margin:auto;
  width: 100%;
  max-width: 1200px;
}
.errors {color:red;}
.main-section{
  font-size: 1.2em;
  padding-left: 2em;
  width: 100%;
  max-width: 1200px;
  margin:auto;
}
.article-photos{
  width:35%;
  min-width:200px;
  float:right;
  padding: 10px 10px 10px 10px;
}
.moments-gif{
  width:50%;
  min-width:400px;
  margin-left: 24%;
  margin-right: 24%;
  padding: 10px 10px 10px 10px;
}
.button {
    position: relative;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #00788a;
    border: 2px solid #666;
    text-decoration:none;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    min-width: 200px;
    font-size: larger;
    font-family: Arial;
    color: white;
}
.button:hover {
    background-color: #000000;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    border: 2px solid #666;
    text-decoration:none;
  }
.white-text{color:white;}
.button a:visited {color: white;}
.button a {text-decoration: none;}
.attach-photo {color:blue; font-style: italic;}
.edit-button {
  display:inline;
  float:left;
  margin-left: 35%;
  width:15%;
}
.delete-button {
  display:inline;
  margin-right: 35%;
  text-align: right;
  float:left;
  width:15%;
}
.link-b {color:white;}
#link-teal {color:#036d80;}
.hero {width:70%; min-width:350px; padding:2.5% 15% 2.5% 15%}
.lineups{width:90%; max-width:600px; height:450px; border:0 0 0 0px;}
.date{font-size: .6em; vertical-align: top;}